transactions_data.csv filter=lfs diff=lfs merge=lfs -text
cards_data.csv filter=lfs diff=lfs merge=lfs -text
users_data.csv filter=lfs diff=lfs merge=lfs -text
train_fraud_labels.json filter=lfs diff=lfs merge=lfs -text
mcc_codes.json filter=lfs diff=lfs merge=lfs -text
